<center><h1>To Do List</h1></center>
<p>
{{#each data}}
ToDo from the database: <h2>{{item}}</h2>
<br>
{{/each}}
</p>


<form action="/list" method="POST">
	<input type="text" placeholder="enter to do item" name="item">
	<input type="submit">
</form>
